@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

body{
    color: #1E144B;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:300;
    font-size: 16px;
}
.inner{
    max-width: 1440px;
    width: 100%;
    margin:0 auto;
}
#wrap{
    width:100%;
    overflow:hidden;    
}

/*#head*/

#head {
    margin-bottom: 50px;
}
#head .inner{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
#head .inner .header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    padding-top: 50px;
}
#head #search{
    width: 625px;
    height: 50px;
    border-radius: 40px;
    position: relative;
    left: 65px;
    top: 20px;
    box-sizing: border-box;
    border: 1px solid ;
}
#head button{
    border: 0;
    background-color: rgba(102, 102, 102, 0);
    z-index: 9;
    position: absolute;
    top: 80px;
    right: -40px;
}
#head button img{
    width: 30px;
}
#head .inner .language_list{
    position: relative;
    margin-top: 80px;
}
#head .inner .language_list .language1{
    width: 125px;
    height: 30px;
    text-align: center;
    border-radius: 40px;
    border: #1E144B 1px solid;
    box-sizing: border-box;
    color: #1E144B;
    overflow: hidden;
}
#head .inner .language_list .language1 div{
    display: none;
}
#head .inner .language_list .language1.on{
    width: 125px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    border: #1E144B 1px solid;
    box-sizing: border-box;
    color: #1E144B;
}
#head .inner .language_list .language1 .on{
    display: block;
}
#head .inner .language_list .language1 .add{
    display: block;
}
#head .inner .language_list .arrow_under{
    width: 15px;
    position: absolute;
    top: 8px;
    left: 8px;
}
#head .inner .language_list .world{
    width: 20px;
    position: absolute;
    top: 5px;
    right: 7px;
}

/*#nav*/

#nav .nav1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}
#nav .nav1 .nav_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    position: absolute;
    top: 8px;
    left: 270px;
    font-size: 1.3rem;
    font-weight: 600;
}
#nav .nav1 .nav_menu li{
    padding: 22px 30px;
}
#nav .nav1 .open{
    border: 0;
    background-color: rgba(102, 102, 102, 0);
    font-size: 1.3rem;
    font-weight: 600;
    width: 250px;
    height: 90px;
    margin: 0;
}
#nav .nav1 .open span{
    position: relative;
    top: 3px;
}
#nav .nav1 .open img{
    width: 30px;
    padding: 0px 20px;
}
#nav .nav1 .closs{
    border: 0;
    background-color: rgba(102, 102, 102, 0);
    display: none;
}
#nav .nav1 .closs img{
   width: 35px;
}
#nav .menu1{
    display: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    z-index: 999999;
}
#nav .menu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #ffffff;

}
#nav .menu ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 15px;
    position: relative;
    left: 275px;
}
#nav .menu ul:nth-child(2){
    padding:  0 10px;
}
#nav .menu ul:nth-child(3){
    padding: 0 20px;
}
#nav .menu ul:nth-child(4){
    padding: 0 22px;
}
#nav .menu ul:nth-child(5){
    padding: 0 20px;
}
#nav .menu ul li{
    padding-bottom: 10px;
    text-align: center;
}
/*#slide1*/
#slide1{
    background: #E1F0DB;
    padding-bottom: 65px;
    padding-top: 65px;
    margin: 0;
}

#slide1 .inner{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}
#slide1 .inner .text{
    width: 465px;
    padding-top: 100px;
    height: 390px;
    overflow: hidden;
    margin: 0;
}
#slide1 .inner .text1{
    height: 390px;
    position: relative;
}
#slide1 .inner .text1 h2{
    font-size: 1.5rem;
    font-family: 700;
}
#slide1 .inner .text1 .name.a{
    margin-bottom: 0;
}
#slide1 .inner .text1 .name{
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 50px;
}
#slide1 .inner .text1 p{
    font-size: 1rem;
    font-weight: 300;
}
#slide1 .inner .text1 button{
    border: 1px solid #1E144B;
    background-color: #FFF;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}
#slide1 .inner .text1 button:hover{
    border: 1px solid #1E144B;
    background-color: #1E144B;
    color: #fff;
}
#slide1 .inner .text1 button a{
    display: block;
}
#slide1 .inner .slide{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 875px;
    height: 590px;
    overflow: hidden;
}
#slide1 .inner .slide > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

#slide1 .inner .slide img{
    width: 875px;
}
#slide1 .slick-slide>div{
    margin: 0;
}
.text1 .slick-list.draggable{
    width: 1200px;
}


/*#kball*/
#kball{
    background: #FFF;
}


#kball .slick-list.draggable{
    padding: 0;
    width: 1200px;
}

#kball .slick-track{
    top: 20px;
    margin: 0 auto;
}
#kball .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    height: 270px;
    margin: 0 auto;
}
#kball .slick-track{
    margin: 0 auto;
}
#kball .inner{
    padding-bottom: 100px;
    padding-top: 100px;
}
#kball .box1{
    width: 1440px;
    position: relative;

}
#kball .inner h2{
    font-size: 2.2rem;
    margin-bottom: 50px;
    font-weight: 400;
}
#kball .inner .kball1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
}
#kball .inner .kball1 p{
    width: 0px;
    height: 0px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    display: flex;
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    
}
#kball .inner .kball1 div{

    width: 88%;
    position: relative;
    margin: 0 auto;
}
#kball .inner .kball2{
    display: none;
}
.slick-track{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto 0;
}
#kball  .slick-list {padding:0}
#kball .slick-slide img {
    width: 100%;
  }
  #kball  .kball1  {margin:20px}
  #kball .kball1  .slick-slide {margin:0 auto;padding:10px;height:auto;
            }
#kball .kball1 .slick-slide img {transition:.3s}
#kball .kball1 .slick-slide.slick-active.slick-current img {
      opacity: 1;
      transform: scale(1.3);  }

      #kball .kball1 .slick-slide.slick-active.slick-current:hover p{
        width: 130%;
        height: 130%;
        opacity: 1;
      }
#kball .slick-prev, #kball .slick-next {
        z-index:999999999;
        position: absolute;
        bottom: 0px;
        border: none;
        background: none;
        color: transparent;
        }
#kball .slick-prev{
    background-image: url(../images/linearrow_l.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 100px;
    left : 45%;
    bottom: -140px;
}        
#kball .slick-next{
    background-image: url(../images/linearrow_r.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 100px;
    right: 45%;
    bottom: -140px;
}
#kball .slick-prev:before,#kball .slick-next:before {
      color: black;
    }
    #kball .kball1.slick-initialized.slick-slider{
        margin: 0 auto;
    }

    #kball .slick-slide{

    }
    #kball .slick-slide.slick-active{
        display: block;
    }

/*#chois*/
#chois{
    background: #fcf7f0;
}
#chois .inner{
    padding-top: 100px;
}
#chois .inner>p {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 50px;
}
#chois .inner .level{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 156px;
    position: relative;
}
#chois .inner .level p{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
}
#chois .inner .level p:nth-child(2){
    color:#C4C4C4;
}#chois .inner .level p:nth-child(3){
    color:#C4C4C4;
}#chois .inner .level p:nth-child(4){
    color:#C4C4C4;
}#chois .inner .level p:nth-child(5){
    color:#C4C4C4;
}
#chois .inner .Qa p{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}
#chois .inner .Qa>div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 100px;

}
#chois .inner .Qa button{
    border: 1px solid #FFF;
    background-color: #1E144B;
    border-radius: 30px;
    color: #FFF9F0;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 400;
}
#chois .inner .Qa button:hover{
    border: 1px solid #1E144B;
    background-color: #FFF;
    color: #1E144B;
}
#chois .inner .level2{
    display: none;
}
#chois .inner .level3{
    display: none;
}

/*#utube*/

#utube {
    background: #FFF;
    padding-bottom: 100px;
}

#utube .inner{
    padding-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
#utube .inner .left{
    width: 815px;
    height: 520px;
    overflow: hidden;
}
#utube .inner .right{
    width: 565px;
}
#utube .inner .right>div>p{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 50px;
}
#utube .inner .right>div>p::after{
    content: '';
    border-bottom: #1E144B 3px solid;
    display: block;
    width: 177px;
    position: relative;
    top:5px;
}
#utube .inner .right>div>div>h2{
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 50px;
}
#utube .inner .right>div>div>p:nth-child(4){
    margin-bottom: 30px;
}
#utube .inner .right .hesi{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin: 0 0 44px 0;
}
#utube .inner .right .hesi p{
    margin: 0 40px 0 0;
}
#utube .inner .right .ulist{
    position: relative;
}
#utube .inner .right .ulist p{
    font-weight: 700;
    margin-bottom: 30px;
}
#utube .inner .right .ulist .for-slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
}
#utube .inner .right .ulist .for-slider div{
    position: relative;
    left: -10px;
}
#utube .inner .right .ulist .for-slider img{
    width: 190px;
    height: 121px;
    box-sizing: border-box;
    position: relative;
    left: 0;
}
.slick-list .slick-track{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1000px;
}


/*#instar*/

#instar{
    background-color: #FFF;
    padding: 100px 0;
}
#instar .inner{
    text-align: center;
}
#instar .inner h2{
    font-size: 2.1rem;
    font-weight: 700;
}
#instar .inner p{
    font-weight: 400;
    margin-bottom: 50px;
}
#instar .inner div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#instar .inner div>div{
    width: 215px;
    height: 215px;
    overflow: hidden;
}
#instar .inner div{
    margin-bottom: 15px;
}
#instar .inner div>div:hover{
    background: #1e144b2f;
    background-image: url(../images/insta_heart.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 9999;
    background-size: 40px;
}

/*#logo_list*/
#logo_list{
    background: #fff;
    border-bottom: #1e144b4b 1px solid;
    border-top: #1e144b4b 1px solid;
}
#logo_list .inner>div{
    overflow: hidden;
    position: relative;
}
#logo_list .logo>div{
    margin: 0 auto;
}
#logo_list .slick-slide.slick-loading img
{
    display: none;
}
#logo_list .slick-slider>div
{
    margin: 0 auto;
}
#logo_list .slick-slider>div>img{
    margin: 0 auto;
}
#logo_list .slick-track{
    padding: 20px 0;
}
#logo_list .slick-prev, #logo_list .slick-next {
    z-index:999999999;
    position: absolute;
    bottom: -30px;
    border: none;
    background: none;
    color: transparent;
    }
#logo_list .slick-prev{
background-image: url(../images/linearrow_l.png);
background-repeat: no-repeat;
background-size: 100%;
width: 30px;
height: 100px;
left : 0;
}        
#logo_list .slick-next{
background-image: url(../images/linearrow_r.png);
background-repeat: no-repeat;
background-size: 100%;
width: 30px;
height: 100px;
right: 0;
}
#logo_list .slick-cloned
{
    display: hidden;
}
/*#footet*/
#footer {
    background: #FFF;
    border-bottom: #1E144B 1px solid;
    margin: 0;
}
#footer>div{
    border-bottom: #1e144b4b 1px solid;

}
#footer .noties_list{
    height: 25px;
    overflow: hidden;
    position: relative;
    
}
#footer .noties_list div{
    position: relative;
    top: -22px;
}
#footer .inner .ftop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10px 0;
}
#footer .inner .ftop .noties{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}
#footer .inner .ftop .noties p{
    margin-right: 30px;
    font-weight: 400;
    position: relative;
    left: 0;
}
#footer .noties_list{
    width: 435px;
    position: relative;
}
#footer .sns ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#footer .sns ul li{
    margin-left: 20px;
}
#footer .sns img{
    width: 30px;
}

#footer .inner .fbot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    padding-top: 30px;
}
#footer  .fbot .text ul{
    position: relative;
    left: -180px;
}
#footer  .fbot .text ul:first-child{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin-bottom: 30px;
    width: 60%;
}
#footer  .fbot .text ul:first-child li{
}
#footer  .fbot .text ul:first-child li p{
    font-weight: 400;
}
#footer  .fbot .text ul:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    text-align: start;
    left: -25%;
    width: 40%;
    
}